.body {
   display: flex;
   justify-content: space-evenly;
   padding-top: 2rem;
   padding-bottom: 2.6rem;
   background: #f3f2ef;
   height: 100%;
}
@media (max-width: 800px) {
   .body {
      padding-left: 2rem;
      padding-right: 2rem;
   }
}
@media (max-width: 490px) {
   .body {
      padding: 0 3rem;
   }
}

