.forgotPassword {
   background: #0000;
}
.forgotPassword__header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100vw;
   margin: 0;
}
.forgotPassword__image {
   width: 7rem;
   height: 7rem;
   object-fit: contain;
   margin-left: 15rem;
}
.forgotPassword__paths {
   margin-right: 15rem;
}
.forgotPassword__paths > a {
   text-decoration: none;
   font-weight: 500;
}
.forgotPassword__signIn {
   margin-right: 2rem;
   padding: 0.5rem;
   color: gray;
   border-radius: 2px;
}
.forgotPassword__signIn:hover {
   background: #f3f3f3;
}
.forgotPassword__signUp {
   color: #0a66c2;
   border: 1px solid #0a66c2;
   padding: 0.5rem 1rem;
}
.forgotPassword__signUp:hover {
   background: #e5f5fc;
   box-shadow: inset 0 0 0 1px #0073b1, inset 0 0 0 2px rgb(0 0 0 / 0%),
      inset 0 0 0 1px rgb(0 0 0 / 0%);
}

.forgotPassword__body {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-top: 1rem;
}
.forgotPassword__title {
   font-weight: 400;
}
.forgotPassword__subtitle {
   font-size: 1.2rem;
   margin-top: 0.5rem;
}
.forgotPassword__error {
   margin: 0.5rem 0;
   padding: 0.5rem 1rem;
   width: 500px;
   background: rgba(255, 0, 0, 0.2);
   border: 2px solid red;
   border-radius: 3px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.forgotPassword__error > .MuiSvgIcon-root {
   color: red;
}
.forgotPassword__body > form {
   margin-top: 1rem;
}
.forgotPassword__emailContainer {
   display: flex;
   flex-direction: column;
}
.forgotPassword__emailContainer > label {
   margin-bottom: 0.3rem;
   width: 400px;
   font-size: 14px;
}
.forgotPassword__email {
   padding: 0.5rem 1rem;
   font-size: 1rem;
   width: 100%;
   margin-bottom: 2rem;
}
.forgotPassword__email:focus {
   outline: #0073b1;
   border: 2px solid #0073b1;
}
.forgotPassword__link {
   padding: 0.5rem 2rem;
   text-decoration: none;
   margin-right: 2rem;
   color: #0a66c2;
   border: 1px solid #0a66c2;
}
.forgotPassword__submit {
   border: none;
   outline: none;
   color: #fff;
   font-weight: 600;
   background: #0073b1;
   padding: 0.5rem 2rem;
   font-size: 16px;
   height: 2.5rem;
}
.forgotPassword__submit:hover {
   background: #0a66c2;
}
.forgotPassword__success {
   width: 100vw;
   height: 25vw;
   display: flex;
   align-items: center;
   justify-content: center;
}
.forgotPassword__success > div {
   color: green;
   padding: 1rem;
   background: rgba(0, 128, 0, 0.2);
   width: 30%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: 3px;
}
