.app {
    position: relative;
}
.app__button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
    border-radius: 10px;
    padding: 1rem 1rem 0.7rem 1rem;
    border: none;
    outline: none;
    background: #004182;
    color: #fff;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.dark__mode {
    filter: invert(1) hue-rotate(180deg);
}
.dark__mode img, html > .MuiAvatar-root {
    filter: invert(1) hue-rotate(180deg);
}
